// color
$main-color: #3C1000 !default;
$bg-color: #EFE9E7 !default;
$ribbon-color: #00CB98 !default;
$grey: #A09D9E !default;
$dark-grey: #7E7C7F !default;
$light-orange: #F56B22 !default;
$dark-orange: #BC5007 !default;
$google-plus-color: #DA4336 !default;
$twitter-color: #41AAE1 !default;
$fb-color: #3A5694 !default;

// font
$font-family: sans-serif;
$font-m: 16px !default;
$font-l: $font-m * 1.125;
$font-s: $font-m * 0.875;

// media
$desktop-media: 1000px;
$pad-media: 768px;
$phone-media: 480px;

//section
$section-top: 50px;
